html, body {
    height: 100%;
    margin: 0px;
}
body {
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
}
header {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
    padding-bottom: 6px;
}
header>* {
    flex: 0 0 auto
}
header>div.hfill {
    flex: 1
}
main {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    flex: 1;
}

div.mdc-data-table {
    width: 100%;
    max-height: 100%;
}
details {
    padding: 2px 0px;
    overflow-wrap: break-word;
    white-space: normal;
}
summary {
    padding: 10px 0px;
    cursor: pointer;
    user-select: none;
    color: var(--mdc-theme-primary);
}
summary::marker {
    color: var(--mdc-theme-on-surface);
}
table.mdc-data-table__table {
    width: 100%;
    table-layout: fixed;
}
th.mdc-data-table__header-cell {
    font-weight: bold;
}
th.mdc-data-table__header-cell:first-child {
    width: 10%;
}
th.mdc-data-table__header-cell:nth-child(n+2):nth-child(-n+3) {
    width: 45%;
}
td.mdc-data-table__cell:nth-child(3):not(:empty) {
    padding-top: 4px;
    padding-bottom: 4px;
}
div.mdc-data-table__table-container {
    overflow-y: scroll;
}
#info_icon {
    cursor: default;
}
details>table {
    border: 1px solid #777;
    width: auto;
}
details td {
    width: 5em;
}
details td:first-child {
    width: 7em;
}
details>ul {
    padding-left: 1em;
    margin: 5px 0px;
}
em {
    font-style: normal;
    color: var(--mdc-theme-secondary);
}

label#filter_input *, div#filter_preset *, span#last_update_version, td.mdc-data-table__cell:first-child {
    font-family: Rubik, var(--mdc-typography-font-family, Roboto, sans-serif);
}
span.mdc-floating-label, span.mdc-list-item__text {
    user-select: none;
}
