html, body {
    height: 100%;
    margin: 0px;
}
body {
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
}
header {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
    padding-bottom: 6px;
}
header>* {
    flex: 0 0 auto
}
header>div.hfill {
    flex: 1
}
main {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    flex: 1;
}

div.mdc-data-table {
    width: 100%;
    max-height: 100%;
}
details {
    padding: 2px 0px;
    overflow-wrap: break-word;
    white-space: normal;
}
summary {
    padding: 10px 0px;
    cursor: pointer;
    user-select: none;
    color: var(--mdc-theme-primary)
}
summary::marker {
    color: #000
}
table {
    width: 100%;
    table-layout: fixed;
}
th.col1 {
    width: 10%;
}
th.col2, th.col3 {
    width: 45%;
}
div.mdc-data-table__table-container {
    overflow-y: scroll
}
#info_icon {
    cursor: default;
}
